@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body, h1 {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif; }

a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif; }

.homeContent {
  background: #F5D76E;
  width: 100%;
  height: 40em;
  background-repeat: no-repeat;
  background-size: cover;
  color: black; }
  .homeContent h1 {
    padding-top: 14%;
    padding-left: 15%;
    font-family: "Source Sans Pro", sans-serif; }
  .homeContent h3 {
    padding-left: 15%;
    font-family: "Source Sans Pro", sans-serif; }
  .homeContent h4 {
    padding-left: 15%; }

.freeMonth {
  color: black;
  text-decoration: underline; }

.navbar {
  margin-bottom: 0;
  border-bottom: black; }

.links li {
  text-decoration: none;
  list-style: none;
  color: black;
  float: right;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 1.5em;
  padding-top: .5em; }
  .links li a {
    color: #fff; }
  .links li a:visited {
    text-decoration: none;
    color: black; }
  .links li a:hover {
    text-decoration: none;
    color: black; }
  .links li a:hover, .links li a:active {
    text-decoration: none;
    color: black; }

.logoLine {
  margin: 0;
  padding-left: 2%;
  font-size: 1.5em;
  height: 2.5em;
  padding-top: .5em;
  background-color: #F5D76E; }
  .logoLine a:visited {
    text-decoration: none;
    color: black; }
  .logoLine a:hover {
    text-decoration: none;
    color: black; }
  .logoLine a:hover, .logoLine a:active {
    text-decoration: none;
    color: black; }

.image {
  float: left;
  margin-right: 20px; }

.detailsAuthor {
  padding-top: 20px; }

.title {
  font-size: 15px; }

.singleBook {
  width: 343px;
  float: left; }

div.registerBox {
  background-color: #F5D76E;
  color: #fff;
  padding-left: 10%;
  padding-bottom: 2em;
  padding-top: 2em; }
  div.registerBox form {
    width: 40%;
    border-radius: 10px;
    background: #AA3939;
    padding-bottom: 2em;
    padding-top: 1em; }
    div.registerBox form input, div.registerBox form button {
      border: none;
      height: 3em;
      margin-top: 1em;
      width: 90%;
      margin-left: 5%;
      border-radius: .5em;
      outline-color: #F5D76E;
      color: black;
      background: #EDEFF1; }
    div.registerBox form button {
      background: #F5D76E;
      border: none;
      height: 3em;
      margin-top: 1em;
      width: 90%;
      margin-left: 5%;
      border-radius: .5em;
      outline-color: #F5D76E; }
    div.registerBox form p {
      color: black; }

.panel-pricing {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }

.panel-pricing .panel-heading {
  padding: 20px 10px; }

.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px; }

.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5); }

.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px; }
